/* Reset sencillo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  background: #7CA2CE;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center; /* centra también verticalmente */
  min-height: 100vh;
  padding: 20px;
}

.container {
  background: #fff;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 800px;
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #0077b6;
  font-size: 24px;
}

/* Grupos de entrada */
.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 14px;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

/* Botón principal */
.btn {
  display: block;
  width: 100%;
  background: #ffb703;
  color: black;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
}

.btn:hover {
  background: #023e8a;
}


.back:hover {
  background: #bdbdbd;
}

/* Centrar el logo arriba */
.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
}

/* Ajustar el tamaño del logo */
.logo img {
  width: 150px;
  height: auto;
  max-width: 90vw;
}
